<!-- ###MESSAGE_WRITE### begin-->

<form method="post" action="###ACTION###" name="write_newPM" onsubmit="if(userSearch.userSearchVisible) return false;">
<table class="tx-mmforum-table" cellspacing="0">
	<tr>
		<th class="tx-mmforum-th" colspan="2">
			###LABEL_WRITEMESSAGE###
		</th>
	</tr>
	<tr>
		<td class="tx-mmforum-pi1-newpost-left">###LABEL_TO###:</td>
		<td class="tx-mmforum-pi1-newpost-left" style="text-align:left;">
			<table cellspacing="0" cellpadding="0"><tr>
            	<td><input type="text" id="username" name="tx_mmforum_pi3[user]" value="###TO_USER###" ###JAVASCRIPTUSERSEARCHREFRESH### /></td>
                <td><input class="tx-mmforum-button btn btn-primary" type="submit" name="tx_mmforum_pi3[save]" value="###LABEL_SEARCH###" ###JAVASCRIPTUSERSEARCHHIDE### /></td>
            </tr></table>
                <div style="display:none;" id="tx_mmforum_pi3_quicksearch"><ul id="userlist"></ul></div>
            
		</td>
	</tr>
	<tr>
	    <td class="tx-mmforum-pi1-newpost-left">###LABEL_SUBJECT###:</td>
	    <td class="tx-mmforum-pi1-newpost-left"><input type="text"  name="tx_mmforum_pi3[subject]" size="80" value="###SUBJECT###" /></td>
	</tr>
	<tr>
	    <td class="tx-mmforum-pi1-newpost-right" colspan="2" align="right">
	        <textarea  name="tx_mmforum_pi3[message]" cols="82" rows="20">###MESSAGE###</textarea>
	    </td>
	</tr>
	<tr>
		<td class="tx-mmforum-pi1-newpost-right" colspan="2">
			<input class="tx-mmforum-button btn btn-primary" type="submit" name="tx_mmforum_pi3[save]" value="###LABEL_SEND###" accesskey="s" ###JAVASCRIPTUSERSEARCHHIDE### />
			<input type="reset" class="tx-mmforum-button btn btn-primary" style="margin-left:10px;" value="###LABEL_RESET###" ###JAVASCRIPTUSERSEARCHHIDE### />
		</td>
	</tr>
</table>
###JAVASCRIPTUSERSEARCH###
    <!-- <INPUT TYPE="HIDDEN"  name="action" value="message_send">-->
</form>
<!-- ###MESSAGE_WRITE### end-->