{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Page" />
<div>
	<f:section name="Configuration">
		<flux:flexform id="blank" label="Leere Seite für Ajax" icon="{f:uri.resource(path: 'images/fluidpage/blankpage.png')}">
            <flux:flexform.grid>
                <flux:flexform.grid.row>
                    <flux:flexform.grid.column colPos="0" name="Content" />
                </flux:flexform.grid.row>
            </flux:flexform.grid>
		</flux:flexform>
	</f:section>

	<f:section name="Content">
            <v:page.content.render column="0" />
	</f:section>
</div>
