{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Page" />
<div>
	<f:section name="Configuration">
		<flux:flexform id="home" label="Startseite" icon="{f:uri.resource(path: 'images/fluidpage/section5_maintemplate.png')}">
            <flux:flexform.grid>
                <flux:flexform.grid.row>
                    <flux:flexform.grid.column colPos="0" name="Content" />
                </flux:flexform.grid.row>
            </flux:flexform.grid>
			<flux:flexform.field.file name="background" internalType="file" allowed="jpg,png,jpeg" maxItems="1" showThumbs="1" />
            <flux:flexform.field.file name="logo" internalType="file" allowed="jpg,png,jpeg" maxItems="1" showThumbs="1" />
            <flux:flexform.field.input name="logoTitle" />
            <flux:flexform.field.input name="logoAlt" />
            <flux:flexform.sheet name="linkespalte">
                <flux:flexform.field.text name="rtelinks" enableRichText="1" />
            </flux:flexform.sheet>
            <flux:flexform.sheet name="rechtespalte">
                <flux:flexform.field.text name="rterechts" enableRichText="1" />
                <flux:flexform.field.input name="email">
                    <flux:flexform.field.wizard.link />
                </flux:flexform.field.input>
            </flux:flexform.sheet>
            <flux:flexform.sheet name="socialmediaSheet">
                <flux:flexform.section name="panels">
                    <flux:flexform.object name="panel">
                        <flux:flexform.field.file name="socialmedialogo" internalType="file" allowed="jpg,png,jpeg" maxItems="1" showThumbs="1" />
                        <flux:flexform.field.input name="socialmediaTitle" />
                        <flux:flexform.field.input name="socialmediaAlt" />
                        <flux:flexform.field.input name="socialmediaURL">
                            <flux:flexform.field.wizard.link />
                        </flux:flexform.field.input>
                    </flux:flexform.object>
                </flux:flexform.section>
            </flux:flexform.sheet>
		</flux:flexform>
	</f:section>

	<f:section name="Content">
		<div class="slide" style="background-image: url(/{background}); background-attachment:fixed;">
	        <div class="transparent">
				<f:render section="Header" partial="Header" arguments="{_all}" />
	                <section id="main">
	                    <v:page.content.render column="0" />
	                </section>
				<f:render section="Footer" partial="Footer" arguments="{_all}"/>
			</div>
		</div>
	</f:section>
</div>
