{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Page" />

    <f:section name="Footer">
        <!--footer-->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <f:format.html>{rtelinks}</f:format.html>
                        <ul class="bottom-social clearfix">
                            <f:for each="{panels}" as="panel" iteration="iteration">
                                <li>
                                    <v:link.typolink configuration="{parameter: panel.panel.socialmediaURL}">
                                        <f:image src="{panel.panel.socialmedialogo}" class='img-responsive' alt="{panel.panel.socialmediaAlt}" title="{panel.panel.socialmediaTitle}"></f:image>
                                    </v:link.typolink>
                                </li>
                            </f:for>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <f:format.html>{rterechts}</f:format.html>
                        <address>
                            <v:link.typolink configuration="{parameter: email, ATagParams:'class=\'myicon-mail\''}">
                                {email}
                            </v:link.typolink>
                        </address>
                    </div>
                </div>
            </div>
        </footer>
	    <div class="footer-navi">
		    <div class="container">
			    <div class="row">
				    <div class="col-md-offset-2 col-md-7 col-xs-7 col-sm-7 ">
					    <f:cObject typoscriptObjectPath="lib.footernavi"/>
				    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3">
                        <div class="developer">
                            Designed & Built by XClane
                        </div>
                    </div>
			    </div>
		    </div>
	    </div>
    </f:section>
</div>