{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Page" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Header">
	    <header id="header" class="headerhome">
            <div class="rowmenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3">
                                <div class="navbar-brand navbar-brand_">
                                    <a href="/index.php">
                                        <f:image src="{logo}" width="240" height="100" class='Section5' alt="{logoAlt}" title="{LogoTitle}" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-9 col-md-9 padding_right_none">
                                <div class="menuheader">
                                    <nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
                                        <f:cObject typoscriptObjectPath="lib.mainnavi"/>
                                    </nav>
                                </div>
                            </div>
                            <div class="login">
                                <f:cObject typoscriptObjectPath="lib.login"/>
                            </div>
                    </div>
                </div>
            </div>
	    </header>
    </f:section>
</div>