{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="ErrorPage" />

<v:page.header>
	<f:render section="Resources" optional="TRUE" arguments="{_all}" />
</v:page.header>

<f:render section="Navigation" partial="PageObjects" arguments="{_all}" />
<f:render section="SubNavigation" partial="PageObjects"  optional="TRUE" arguments="{_all}" />
<div class="container">
	<f:render section="Content" arguments="{_all}" />
</div>
