<!-- ###HAVEALOOK_BEGIN### -->
<form action="###ACTION###" method="post" style="padding:0px; margin: 0px;" onsubmit="return confirm('###LABEL_CONFIRMMULTIPLE###');">
<table class="tx-mmforum-table" width="100%">
	<tr>
		<th colspan="3" class="tx-mmforum-th">###LABEL_HAVEALOOK###</th>
	</tr>
	<tr>
		<td class="tx-mmforum-td tx-mmforum-subth2"></td>
		<td class="tx-mmforum-td tx-mmforum-subth2">###LABEL_TOPICNAME###</td>
		<td class="tx-mmforum-td tx-mmforum-subth2">###LABEL_OPTIONS###</td>
	</tr>
<!-- ###HAVEALOOK_BEGIN### -->
<!-- ###LIST_HAVEALOOK### begin -->
	<tr>
		<td class="tx-mmforum-td" style="width:1px;">
			###TOPIC_CHECKBOX###
		</td>
		<td class="tx-mmforum-td">
			<div class="tx-mmforum-pi1-listtopic-image">###TOPICICON###</div>
            <div class="tx-mmforum-pi1-listtopic-topicname">###TOPICNAME###</div>
			<div class="tx-mmforum-smalldesc">###TOPICSUB###</div>
		</td>
		<td class="tx-mmforum-td" align="center">
			###TOPICDELLINK###
		</td>
	</tr>
<!-- ###LIST_HAVEALOOK### end -->
<!-- ###LIST_HAVEALOOK_EMPTY### begin -->
    <tr>
        <td class="tx-mmforum-tdtext" colspan="3" style="text-align:center;">
            ###LLL_HAVEALOOK_EMPTY###
        </td>
    </tr>
<!-- ###LIST_HAVEALOOK_EMPTY### end -->
<!-- ###HAVEALOOK_END### -->
</table>
<br />
###LABEL_MARKEDTOPICS###:
<select name="tx_mmforum_pi1[havealook_action]" class="tx-mmforum-select">
    <option value=""></option>
    <option value="delete">###LABEL_DELETE###</option>
</select>
<input class="tx-mmforum-button btn btn-primary" type="submit" value="###LABEL_GO###" />
</form>
<!-- ###HAVEALOOK_END### -->
<!-- ###HAVEALOOK_SETTINGS### -->
<form action="###ACTION###" method="post" name="havealook_settings">
	###LABEL_ORDERBY###
	<select class="tx-mmforum-select" name="tx_mmforum_pi1[order]" onchange="document.havealook_settings.submit();">
		<option value="lpdate" ###ORDER_LPDATE###>###LABEL_ORDER_LPDATE###</option>
		<option value="alphab" ###ORDER_ALPHAB###>###LABEL_ORDER_ALPHAB###</option>
		<option value="cat"    ###ORDER_CAT###   >###LABEL_ORDER_CAT###</option>
		<option value="added"  ###ORDER_ADDED### >###LABEL_ORDER_ADDED###</option>
	</select>
</form>
<br />
<!-- ###HAVEALOOK_SETTINGS### -->