<!-- ###NEWTOPIC### begin-->
<!-- ###ROOTLINE_CONTAINER### begin -->
<div class="tx-mmforum-rootline">###FORUMPATH###</div>
<!-- ###ROOTLINE_CONTAINER### end -->
###STARTJAVASCRIPT###

###POST_PREVIEW###

<form action="###ACTION###" method="post" id="post" name="post" enctype="multipart/form-data">
	<div style="width: 100%;">
		<table class="tx-mmforum-table" width="100%">
			<tr>
				<th colspan="2" class="tx-mmforum-th">###LABEL_CREATETOPIC###</th>
			</tr>
			<!-- ###TITLE_SUBPART### begin -->
			<tr>
				<td class="tx-mmforum-pi1-newpost-left">
					<label for="tx_mmforum_pi1-label">###LABEL_TITLE###</label>
				</td>
				<td class="tx-mmforum-pi1-newpost-middle">
					<input type="text" name="tx_mmforum_pi1[topicname]" style="width:100%;" id="tx_mmforum_pi1-label" value="###TOPICNAME###" tabindex="1" />
				</td>
			</tr>
			<!-- ###TITLE_SUBPART### end -->
			<tr align="left" valign="top">
				<td class="tx-mmforum-pi1-newpost-left" id="smilies">
					###SMILIES###
				</td>
				<td class="tx-mmforum-pi1-newpost-middle">
					<table width="100%" border="0" cellspacing="0" cellpadding="2">
						<tr>
              <td>
								<table width="100%" border="0" cellspacing="0" cellpadding="2">
						        <tr>
						          <!-- ###BBCODEBUTTONS### -->
                        <td>
                          <img src="###CODE_IMAGE###" alt="###CODE_LABEL###" title="###CODE_LABEL###" onmouseover="this.style.cursor='pointer';" onclick="editor.applyBBCode('###CODE_OPEN###', '###CODE_CLOSE###')" />
                        </td>
                      <!-- ###BBCODEBUTTONS### -->
                    </tr>
                </table>
              </td>
						</tr>
						<tr>
							<td>
								<textarea name="tx_mmforum_pi1[message]" rows="15" cols="35" style="width:100%" tabindex="2" class="tx-mmforum-post" id="tx_mmforum_editor">###POSTTEXT###</textarea>
							</td>
						</tr>
					</table>
				</td>
			</tr>
            <!-- ###ATTACHMENT_SECTION### begin -->
            <tr>
                <td class="tx-mmforum-pi1-newpost-left">###LABEL_ATTACHMENT###</td>
                <td class="tx-mmforum-pi1-newpost-middle" style="text-align: left !important;">
                    <input type="hidden" name="MAX_FILE_SIZE" value="###MAXFILESIZE###" />

                    <!-- ###ATTACHMENT_FIELD### begin -->
                    <div><input type="file" class="tx-mmforum-pi1-attachment" name="tx_mmforum_pi1_attachment_###ATTACHMENT_NO###" size="64" /></div>
                    <!-- ###ATTACHMENT_FIELD### end -->
                    ###MAXFILESIZE_TEXT###
                </td>
            </tr>
            <!-- ###ATTACHMENT_SECTION### end -->
            <!-- ###POLL_SECTION### begin -->
            <tr>
                <td class="tx-mmforum-pi1-newpost-left">###LABEL_POLL###</td>
                <td class="tx-mmforum-pi1-newpost-middle" style="text-align: left !important;">
                ###POLLJAVASCRIPT###
                    <input type     = "checkbox"
					       id       = "tx_mmforum_pi1-poll"
						   name     = "tx_mmforum_pi1[enable_poll]"
						   value    = "1"
						   style    = "vertical-align:middle;" ###DISABLE_POLL### ###ENABLE_POLL### ###CALLPOLLJS### />
               <label for="tx_mmforum_pi1-poll">###LABEL_POLL###</label>
                    <div id="poll" ###POLLDIV_STYLE###>
                        ###POLL###
                    </div>
                </td>
            </tr>
            <!-- ###POLL_SECTION### end -->
			<tr>
				<td>&nbsp;</td>
				<td><input type="checkbox" id="tx_mmforum_pi1-havealook" name="tx_mmforum_pi1[havealook]" value="havealook" ###HAVEALOOK### /><label for="tx_mmforum_pi1-havealook"><small>###LABEL_SETHAVEALOOK###</small></label></td>
			</tr>
			<tr align="left">
				<td class="tx-mmforum-subth"></td>
				<td class="tx-mmforum-subth">
					<input type="submit" class="tx-mmforum-button btn btn-primary" name="tx_mmforum_pi1[button]" value="###LABEL_SEND###" accesskey="s" />
					<input type="submit" class="tx-mmforum-button btn btn-primary" name="tx_mmforum_pi1[button]" value="###LABEL_PREVIEW###" />
					<input type="reset"  class="tx-mmforum-button btn btn-primary" value="###LABEL_RESET###" />
					<input type="hidden" name="tx_mmforum_pi1[token]" value="###TOKEN###" />
				</td>
			</tr>
		</table>
	</div>
</form>

###OLDPOSTTEXT###
<!-- ###NEWTOPIC### end-->

<!-- ###PREVIEW### begin -->
<div style="width:100%;">
	<h2>###TOPIC_TITLE###</h2>
	<table width="100%" class="tx-mmforum-table" >
		<tr>
			<th class="tx-mmforum-th" colspan="2"><strong>###LABEL_PREVIEW###</strong></th>
		</tr>
		###PREVIEW_POST###
	</table>
</div>
<br />
<!-- ###PREVIEW### end -->