<!-- ###USERCONF### begin -->
<FORM  action="###ACTIONLINK###" method="POST">
	<table width="100%" class="tx-mmforum-table">
		<tr>
			<th class="tx-mmforum-th" colspan="2">###LABEL_USERCONF###</th>
		</tr>
		<tr>
			<td class="tx-mmforum-td tx-mmforum-smalltext" width="150">###LABEL_POSTORDER###</td>
			<td class="tx-mmforum-td tx-mmforum-smalltext">###POSTORDER### ###LABEL_POSTFIRST###</td>
		</tr>
		<tr>
			<td class="tx-mmforum-td" width="150">&nbsp;</td>
			<td class="tx-mmforum-td">
                <input type="submit" class="tx-mmforum-button btn btn-primary" name="tx_mmforum_pi1[save]" value="###LABEL_SAVE###" />
            </td>
		</tr>
	</table>
</FORM>
<!-- ###USERCONF### end -->