body{
    color: #f3f3f3;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    background: #efefef;
    padding-top: 2px;
}
header,
nav,
section,
article{display: block;}
iframe{
    margin-top: 15px;
    margin-bottom: 15px;
}
legend {
    color: #F8F8F8;
}
input, textarea {
    color: black;
}
figure {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}

.last{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.alignleft{float: left !important;}
.alignright{float: right !important;}
.aligncenter {text-align: center !important;}

h1,
h2,
h3{
    color: #2b8a14;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
h4,
h5,
h6{
	color: #d5d5d5;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin-bottom: 20px;
}
h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title{
    font-family: 'Droid Sans', sans-serif;
    font-weight: normal;
}


h1{
    font-size: 22px;
    line-height: 22px;
}
h2{
    font-size: 20px;
    line-height: 20px;
}
h3{
    font-size: 18px;
    line-height: 18px;
}
h4{
    font-size: 16px;
    margin-bottom: 16px;
}
h5{
    font-size: 14px;
    margin-bottom: 14px;
}
h6{
    font-size: 12px;
    margin-bottom: 12px;
}

p{
    margin-bottom: 15px;
    line-height: 20px;
}
.color, .color2{
    font-weight: 700;
    padding: 0 2px;
}

.color{color: #555;}
.color2{color: #3aba14;}

a{
    color: #3aba14;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #2b8a14;}
a, a:hover, a:focus {
    outline: 0;
}
.title a{
    color: #3aba14;
    font-weight: 600;
    font-size: 12px;
}
h4.title a{
    font-size:16px;
    font-weight:400;
}
.title a:hover{color: #1d1d1c;}

.container {
    max-width: 970px;
}
.logo {
    margin-top: 20px;
}

/************* header ***************/
header {
	position: relative;
	padding-bottom: 0;
	padding-top: 0;
}
.headerhome {
	background-size: cover;
	padding-top: 0;
}
.headerpages {
	background-size: cover;
	padding-top: 0;
}
.bgpattern {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}
.pagesheader {
	border-bottom: 2px solid #000000;
}
/*-------- Logo -------- */
.navbar-brand_ {
	display: block;
	position: relative;
	text-align: center;
	height: auto;
	margin: 5px 0 5px 0;
    padding: 0;
	z-index: 20;
}
.navbar-brand_ img {
	max-width: 100%;
}
.navbar-brand_a:hover {
	text-decoration: none;
}
.rightside {
	position: relative;
	margin-top: 43px;
	float: right;
}
/*-----------------navbar---------------------*/
.padding_right_none {
	padding-right: 0 !important;
}
.rowmenu {
	display: block;
	position: relative;
}

.rowmenu::after {
	content: "";
	background: url(../images/bg_transparent.jpg) repeat;
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	border-radius: 5px;
}
.menuheader {
	margin-top: 30px;
}
.tm_navbar {
	position: relative;
	padding: 20px 0 0 0;
	float: right;
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
}
.tm_navbar {
    min-height: 40px;
}
.tm_navbar .nav {
	float: none;
	position: relative;
	display: inline-block;
}
.tm_navbar ul {
	position: relative;
	padding: 0;
	margin: 0;
	background: none;
	list-style: none;
}
.tm_navbar .nav li:first-child {
	position: relative;
	zoom: 1;
	background: none;
    padding-left: 0;
}
.tm_navbar .nav li {
	text-align: center;
	float: left;
	padding: 0 9px;
	position: relative;
	zoom: 1;
}
.tm_navbar .nav li a {
	position: relative;
	text-decoration: none;
	color: #FFF;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	background: transparent;
	padding: 0;
	border: none;
	border-radius: 0;
	text-shadow: none;
}
.tm_navbar .nav li a span {
	position: absolute;
    top: 35px;
	left: 0;
	width: 100%;
	background: #3ABA14;
}
.tm_navbar .nav > li > a .indicator1 {
	background: url(../images/indicator.png) no-repeat 0 bottom;
	width: 7px;
	height: 5px;
	display: inline-block;
	top: 30px;
	right: 50%;
	position: absolute;
	z-index: 5;
}
.tm_navbar .nav li a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #3aba14;
	text-decoration: none;
}
.tm_navbar .nav li a:hover span, .tm_navbar .nav > li.active > a span, .tm_navbar .nav > li.active > a:hover span {
	height: 18px;
}
.tm_navbar .nav > .active > a, .tm_navbar .nav > .active > a:hover, .tm_navbar .nav > .active > a:focus {
	color: #3aba14;
	background: transparent;
}
.tm_navbar .nav > li.sfHover > a, .tm_navbar .nav > li.sfHover > a:hover, .tm_navbar .nav > li > a:hover, .tm_navbar .nav > li.active > a, .tm_navbar .nav > li.active > a:hover {
	color: #3aba14;
	background: transparent;
}
.tm_navbar .nav > li.sfHover > a span, .tm_navbar .nav > li.sfHover > a:hover span, .tm_navbar .nav > li > a:hover span, .tm_navbar .nav > li.active > a span, .tm_navbar .nav > li.active > a:hover span {
	height: 2px;
}
/*---------submenu1-------------*/
.tm_navbar .nav ul {
	position: absolute;
	display: none;
	top: 30px;
	width: auto;
	padding: 20px;
	list-style: none;
	zoom: 1;
	z-index: 14;
	background: #060709;
	margin: 0;
}
.tm_navbar .nav ul li:first-child {
	text-align: left;
	width: 100%;
	padding: 0 0 5px;
	display: block;
	position: relative;
	zoom: 1;
	z-index: 10;
	background: transparent;
}
.arrowup {
	position: absolute;
	top: 6px;
	left: 144px;
	z-index: 100;
}
.tm_navbar .nav ul li {
	text-align: left;
	width: 100%;
	padding: 6px 0;
	display: block;
	position: relative;
	border: none;
	zoom: 1;
	z-index: 14;
}
.tm_navbar .nav ul li a {
	text-align: left;
	position: relative;
	color: #ffffff;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 12px;
	line-height: 22px;
	font-weight: 400;
	font-weight: normal;
	margin: 0;
	text-shadow: none;
	border-bottom: none !important;
}
.tm_navbar .nav ul li a:hover {
	color: #3aba14;
	border-bottom: none !important;
}
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul li.sfHover > a {
	text-decoration: none;
	color: #3aba14;
	border-bottom: none !important;
}
.tm_navbar .nav > li > ul li > a:hover, .tm_navbar .nav > li > ul ul li.sfHover > a {
	text-decoration: none;
	color: #3aba14;
	border-bottom: none !important;
}
/*-----------submenu2-----------*/
.tm_navbar .nav ul ul {
	list-style: none;
	padding: 4px 10px 2px;
	left: 97px;
	top: -1px;
	width: 104px;
	background: #3aba14;
	border: none;
}
.tm_navbar .nav ul ul li:first-child {
	text-align: left;
	padding: 6px 0;
	padding-left: 14px;
	position: relative;
	zoom: 1;
	z-index: 11;
	background: transparent;
}
.tm_navbar .nav ul ul li {
	text-align: left;
	padding: 6px 0;
	padding-left: 14px;
	position: relative;
	zoom: 1;
	z-index: 11;
}
.tm_navbar .nav ul ul li a {
	text-align: center;
	margin: 0;
	color: #ffffff;
	text-shadow: none;
}
.tm_navbar .nav ul ul li a:hover {
	color: #000000;
}
/*-----indicator2-------*/
.tm_navbar .nav ul .indicator2 {

	width: 5px;
	height: 7px;
	position: absolute;
	display: block;
	top: 4px;
	left: auto;
	right: -14px;
	z-index: 5;
}
#search{
    float: right;
    position: relative;
    margin-top:5px;
}
#search,
#search p{margin-bottom: 0;}
#search input[type="text"]{
    color:#454545;
    width: 122px;
    height:26px;
    border: 1px inset rgba(0,0,0,0.1);
    padding:4px 25px 4px 10px ;
    line-height: 23px;
    background-color: #1e1e1e;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}
#search input[type="text"]:focus,
#search input[type="text"]:hover{
    width: 190px;
    -webkit-box-shadow: 0px 0px 3px 0px #444;
    box-shadow: 0px 0px 3px 0px #444;
}
#search .search-bt{
    right: 0;
    top: 3px;
    height: 30px;
    width: 30px;
    position: absolute;
    border: none !important;
    cursor: pointer;
    background: url(../images/search-bt.png) no-repeat center center;
}

.breadcrumbs{
    position: relative;
    padding: 40px 0 0 0;
    margin-bottom: 40px;
    border-bottom: solid 1px #ffffff;
}
.breadcrumbs h1{
    font-size: 30px;
    font-family: 'Droid Sans', sans-serif;
    margin-bottom: 5px;
    text-transform: capitalize !important;
}
.breadcrumbs div{
    font-size: 10px;
    padding-left: 2px;
    padding-bottom: 10px;
    color: #717171;
    border-bottom: solid 1px #d3d3d3;
}
.breadcrumbs a{
    color: #333333;
    display: inline-block;
}
.breadcrumbs a:hover{color: #111;}

.container{position: relative;}

#main{
	min-height: 500px;
    position: relative;
}
#main .container > .row{margin-bottom: 10px;}
#main .row.last{margin-bottom: 30px;}
#main hr{
	margin-top: 25px;
	margin-bottom: 25px;
	border-top: solid 1px #d2d2d2;
	border-bottom: solid 1px #ffffff;
}
.nav-tabs {
    margin-bottom: 0;
    border-color: #dadada;
}
.nav-tabs li a {
    background-color: #f6f6f6;
    border: solid 1px #dadada;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover{
    border: solid 1px #dadada;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    background-color: #f6f6f6 !important;
    border: solid 1px #DDD;
    border-bottom: solid 1px #f6f6f6;
}
.tab-content {
    padding: 10px;
    background: #f6f6f6;
    border: solid 1px #dadada;
    border-top: none;
    margin-bottom: 15px;
}

.headset {}
.headset .icon {
    float: left;
    width: 60px;
    height: 50px;
    margin: 0 10px 5px 0;
}
.headset h1,
.headset h2,
.headset h3,
.headset h4,
.headset h5,
.headset h6 {
    margin: 0 0 0 70px;
    text-shadow: 1px 1px #ffffff;
}
.headset p {
    margin: 0 0 0 70px;
    text-shadow: 1px 1px #ffffff;
}

.title-divider{
    margin-bottom: 30px;
    position: relative;
}

.title-divider h3{
    margin-bottom: 0 !important;
    padding-right: 5px;
    position: relative;
    display: inline-block;
    z-index: 1000;
    font-size: 17px;
}
.slide-text {
	color: #525252;
}
.divider-arrow{
    top:7px;
    width: 100%;
    position: absolute;
}

.features > div{text-align: center;}
.features h3{margin: 15px !important;}

.carousel {position:relative;}
.carousel-wrapper{
    overflow:hidden;
    padding:2px 2px 0 2px;
    margin-top: -2px;
}
.carousel-wrapper ul{display:none;}
.carousel-wrapper ul li{
    height:100%;
    float:left;
    display:block;
}

.btleft .es-nav{
    position: absolute;
    top: 10px;
    left: -63px;
}

.bttop .es-nav{
    position: absolute;
    top: -50px;
    right: 0px;
}

.es-nav span{
    float: left;
    width: 17px;
    height: 17px;
    display: block;
    top: 1px;
    right: 0;
    text-indent: -9999px;
}
.es-nav .es-nav-prev{
    right: 17px;
    background: url(../images/arrow-left.png) no-repeat right top;
}
.es-nav .es-nav-next{background: url(../images/arrow-right.png) no-repeat left top;}
.es-nav .es-nav-next:hover{background-position: -17px 0px ;}
.es-nav .es-nav-prev:hover{background-position: 0px 0px ;}

.our-projects article{margin-bottom: 30px;}
.our-projects article img{display: block;}
.our-projects article h4{margin-bottom: 0;}
.our-projects article:nth-last-child(-n+4){margin-bottom: 0 !important;}

.our-blog article p.l-meta{
    width: 100%;
    font-size: 13px;
    color: #b6b6b6;
    padding: 5px 0;
    margin: 0;
    background-color: #1d1d1c;
    font-weight: 100;
    margin-bottom: 20px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.our-blog p{margin-bottom: 10px}
.our-blog article p.l-meta span{
    display: block;
    padding: 0 10px;
}
.our-blog article p.l-meta a{color: #b6b6b6;}
.our-blog article p.l-meta a:hover{color: #00a399;}
.our-blog img {
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.our-news{position: relative;}
.our-news p{margin-bottom: 10px;}
.our-news .news-data{
    float: left;
    width: 60px;
    height: 50px;
    color: #b6b6b6;
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
}
.our-news .news-data span{
    display: block;
    font-weight:900;
    font-size: 42px;
    line-height: 42px;
}
.our-news .title{margin-bottom: 5px !important;}

.divider-blok{
    border-bottom: 1px dashed #efefef;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.ts3viewer, .csc-sitemap {
    margin-top: 40px;
    margin-bottom: 25px;
}
.developer {
    padding-top: 4px;
}
.accordion-group {border:0;}
.accordion .accordion-toggle{
    font-weight: 900;
    color: #fff;
    padding: 5px 10px;
    background-color: #b6b6b6;
    position: relative;
    border: 1px solid #b6b6b6;
    border-radius: 3px 3px 3px 3px;
    text-shadow: 1px 1px #aaa;
}
.accordion .accordion-toggle:hover{
    background-color: #cdcdcd;
    border-color:#cdcdcd;
    text-shadow: 1px 1px #bbb;
}
.accordion .accordion-toggle span{
    right: 10px;
    top: 5px;
    width: 16px;
    height: 16px;
    position: absolute;
}
.accordion .accordion-inner{
    margin-top: 1px;
    border: 0;
}
.accordion .acc-block{padding: 20px 10px;}
.accordion h4{
    color: #707070;
    text-transform: none;
}

.accordion li{
    padding-left: 15px;
    margin-bottom: 10px;
}
.accordion i.pull-right {margin:3px 0 0 0;}
.tweet {margin-top:-5px;}
.tweet .tweet-img{
    margin-right: 15px;
    margin-top:5px;
}
.tweet .tweet-ago {
    display: block;
    padding-bottom: 5px;
}
.tweet .tweet-txt {
    padding-bottom: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.testimonials p{
    line-height: 22px;
    font-size: 12px;
    padding: 0 15px 15px 38px;
    background: transparent url('../images/quotes.png') no-repeat top left;
    border-bottom:1px dotted #efefef;
}
.testimonials h4{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color:#00a399;
}
.testimonials img{
    float: left;
    margin-right: 15px;
    margin-top:10px;
}
.testimonials small{
    display: block;
    font-size:11px;
}
#footer{
    position: relative;
    padding-bottom: 45px !important;
	background: url(../images/bg_transparent.jpg) repeat;
    padding-top: 40px;
    color: #464646;
	-webkit-box-shadow: 0px 10px 5px -5px inset;
	-moz-box-shadow: 0px 10px 5px -5px inset;
	box-shadow: 0px 10px 5px -5px inset;
}
#footer .container{
	color: #e8e8e8;
}
#footer a:hover {color: #ffffff;}
#footer h3{
    margin-bottom: 25px;
    font-size:16px;
}
#footer ul, #footer li{
    margin-bottom: 10px;
    padding-left: 15px;
}

#footer .topbtitle{
    margin-bottom: 30px !important;
}
#footer .topbtitle .title {
    margin-bottom: 20px;
    font-size: 32px;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
    color: #efefef;
    text-shadow: 1px 1px #424242;
}

#footer address {
    margin-bottom: 15px;
    line-height: 20px;
}

#footer #contact{margin-bottom: 0;}
#footer #contact .control-group {margin-bottom:5px;}
#footer #contact input[type="text"]{
    color: #737373;
    padding: 10px 15px;
    margin-bottom: 9px !important;
    height: 19px;
    border: solid 1px #333333;
    background-color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 338px;
}
#footer #contact span{
    color: #737373;
    font-size: 13px;
    display: inline-block;
    width: 44px;

}
#footer #contact input:focus,
#footer #contact textarea:focus{
    border-color: #efefef;
    color: #efefef;
    background-color: #737373 !important;
}
#footer #contact textarea{
    color: #737373;
    padding: 10px 15px;
    height: 129px;
    overflow: auto;
    margin-bottom: 10px;
    border: solid 1px #333333;
    background-color: #000000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none;

    width: 338px;
}
#footer #contact p{margin-bottom: 5px;}

#footer .form-horizontal .control-label {width: 25px;}
#footer .form-horizontal .controls {margin-left: 0;}
#footer .form-horizontal .controls:first-child {*padding-left: 45px;}
#footer .form-horizontal .form-actions {padding-left: 45px;}

#footer .ferror {padding-left: 15px; color: #3aba14;}
[class^="myicon-"],
[class*=" myicon-"] {
    display: inline-block;
    width: auto;
    line-height: 12px;
    margin-right: 8px;
    padding-left: 25px;
    vertical-align: text-top;
    background-repeat: no-repeat;
    margin-top: 1px;
}
.myicon-phone {background-image: url("../images/phone.png");}
.myicon-mail {background-image: url("../images/mail.png");}


#footer .bottom-social{
    margin-bottom: 15px;
}
#footer .bottom-social li{
    float: left;
    margin-right: 10px;
    list-style: none;
}
#footer .bottom-social a{
    display:block;
    width:32px;
    height:32px;
    margin-top:2px;
    opacity: .5;
}
#footer .bottom-social a:hover {opacity: 1;}
.footer-navi {
	background-color: #0c1910;
	box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.16) inset;
	color: #5ba458;
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	width: 100%;
}
.footer-navi ul {
	display: inline-block;
	margin: 0 auto;
	padding-top: 5px;
}
.footer-navi ul li {
	float: left;
	list-style-type: none;
	margin: 0;
}
.footer-navi ul li a {
	padding: 0 8px;
}
.footer-navi ul li a:hover {
	color: inherit;
	text-decoration: underline;
}
.p-view, .p-link{
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    opacity:0.8;
    -webkit-transition: opacity 0.35s linear;
    -moz-transition: opacity 0.35s linear;
    -o-transition: opacity 0.35s linear;
}
.p-view:hover, .p-link:hover{
    opacity:1;
}
.p-view{
    left: 50%;
    margin-left: -39px;
    background: url(../images/view.png);
}
.p-link{
    right: 50%;
    margin-right: -39px;
    background: url(../images/link.png);
}

.portfolio h4:last-child{margin-bottom: 0 !important;}
.portfolio article{margin-bottom: 30px;}
.portfolio img{display: block;}
.portfolio h4 a{
    color: #444;
    text-align: center;
    padding: 7px 10px;
    display:block;
    text-transform: none;
    background-color: #fcfcfc;
    border-bottom: 1px solid #eeeeee;
}
.portfolio h3{
    margin-top: 20px;
    border-bottom: 1px dashed #efefef;
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 16px;
}
.portfolio .read-more{
    margin-bottom: 30px;
    color: #ffffff !important;
    display: inline-block !important;
}

.pagination li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.pagination a{
    background-color: transparent;
    font-size: 0.9em;
    display: inline-block;
    border-left-width: 1px;
}

#tags a{
    color: #888;
    font-size: 13px;
    padding: 2px 5px;
    margin: 0 5px 5px 0;
    display: inline-block;
    border: 1px solid #e8e8e8;
}

#tags a:hover{
    color: #fff;
    border-color: #ffa071;
    background-color: #ffaf88;
}


.img-border-bg {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px #E7E7E7 inset;
    display: inline-block;
    padding: 5px;
}
.img-border {
    border-radius: 3px 3px 3px 3px;
    width: 100%;
}
.lightbox-image span {
    background: url("../images/magnify.png") no-repeat scroll 50% 50% transparent;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


#af-form  input[type="text"]{
    color: #777;
    font-size: 12px !important;
    padding: 5px;
    height: 24px;
    box-shadow: none;
    margin-top: 0;
    height: 35px !important;
    margin-bottom: 0;
    border:1px solid #ececec;
}

.af-outer {margin-bottom:15px;}

label {font-size: 13px;}
label.error, label.ferror{
    color: #dc3f35;
    font-size: 13px;
}

textarea.error {border: 1px solid #ff3f3f;}

#progress{
    margin-top: 15px;
}


.divider-arrow, hr, .divider{
    height: 1px;
    clear: both;
}

.read-more{
    display: inline-block;
    color: #3aba14;
}
.read-more:hover{color: #1d1d1c;}


#toTop {
    background: url("../images/ui.totop.png") no-repeat scroll left top transparent;
    border: medium none;
    bottom: 6px;
    display: none;
    height: 40px;
    overflow: hidden;
    position: fixed;
    right: 10px;
    text-decoration: none;
    text-indent: -999px;
    width: 40px;
}
#toTopHover {
    background: url("../images/ui.totop.png") no-repeat scroll left -40px transparent;
    display: block;
    float: left;
    height: 40px;
    opacity: 0;
    overflow: hidden;
    width: 40px;
}
#toTop:active, #toTop:focus {
    outline: medium none;
}

.dropcap{
    width: 38px;
    height: 38px;
    line-height:38px;
    float: left;
    margin-right:15px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 22px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: #FB8B54;
}



@media only screen and (min-width: 980px)  and (max-width: 1199px){
    #footer #contact textarea,
    #footer #contact input[type="text"] {width: 268px;}
}

@media (min-width: 768px) and (max-width: 979px) {

    #menu > ul > li > a {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer #contact input[type="text"],
    #footer #contact textarea {width: 196px;}
    #footer [class^="icon-"]{display: none;}

}

@media (max-width: 767px){

    body{padding:0 }
    .container{padding: 0 20px;}

    #menu ul,
    .slides h3{display: none;}
    section#slider .container {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    section#slider .slidertext {
        margin-left: 0;
    }
    nav#menu {
        float: none;
    }

    .res-menu{display: block;}
    .logo{text-align:center; ;}

    .container > .row [class*="span"]{margin-bottom: 30px;}
    .container > .row > [class*="span"]:last-child{margin-bottom: 0 !important;}
    #welcome{padding: 0;}

    .breadcrumbs {
        padding: 40px 20px;
        position: relative;
    }

    #sidebar section:last-child {margin-bottom: 0;}
    #sidebar .ul-col2{width: 100%}
    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright{float: none !important;}

    #footer #contact input[type="text"],
    #footer #contact textarea {width: 80%;}
    #footer .submit-div {float: left;}
    figure {display:inline-block; margin-right:15px;}

    .subframe {
        border: none !important;
    }

}

@media (max-width: 480px){

    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    #footer .form-horizontal .controls {
        margin-left: 0;
    }
    #footer .form-horizontal .control-list {
        padding-top: 0;
    }
    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer .submit-div {float: left;}

}
.section5FCE, .news-list-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tx-cal-controller .gridcontainertop {
    background-color: #0D7813;
    border-bottom: 10px solid #0D7813;
}
.tx-cal-controller .dayview, .tx-cal-controller .weekview {
    border-left: none;
}
.tx-cal-controller .gridcontainertop .daynames td {
    background-color: #0D7813;
}
.tx-cal-controller .gridcontainer {
    background: none;
    border-top: none;
}
.tx-cal-controller .scrolltime .timetable .times {
    background-color: #f4f4f4;
}
.daynames span {
    color: white;
}
.daynames a {
    color: #45e365;
}
.pSlider {
    background: url("../images/linie.png") no-repeat scroll bottom;
    padding-bottom: 1px;
}
.slider .slide-box {
    background: url("../images/weisse_ecke_slider.png") no-repeat scroll right center;
    opacity: 0.85;
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    z-index: 200;
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.pSlider img{
    -webkit-border-radius: 5px;
    border-radius:5px;
}
.slide-img img{
    margin: auto;
}
.slider-selection, #slider1_container {
    position: absolute;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #e9e9e9;
    -webkit-box-shadow: inset 0 1px #fff;
    -moz-box-shadow: inset 0 1px #fff;
    box-shadow: inset 0 1px #fff;
    border: solid 1px #b0b0b0;
}
.slide {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 0;
}
.transparent{
	background:rgba(0,0,0,0.5);
	z-index: 5;
	height: 100%;
}
.bg_overlay {
	display: block;
	position: relative;
	margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.bg_overlay::after {
	content: "";
	background: url(../images/bg_transparent.jpg) repeat;
	opacity: 0.8;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
.subnavi {
	display: none;
}
.news-list-container H2, .news-list-item p, .news-list-item img, .news-single-img img {
	margin-bottom: 20px;
}
.tx-cal-controller {
	margin-bottom: 40px;
	margin-top: 20px;
}
.tx-cal-controller .scrolltime {
	height: 357px;
}
.tx-cal-controller table {
	color: #464646;
}
.sfHover ul {
    border-top: 2px solid #006600;
}
.headerhome {
    margin-bottom: 80px;
}
.teaser .teaser_big a, .teaser .hdr-right a, .hdr-right-top, .hdr-right-bot {
    position: relative;
}
.teaser:after {
    clear: both;
    content: " ";
    display: table;
}
.teaser .teaser_big {
    position: relative;
    padding-right: 5px;
}
.teaser .teaser_big img{
    height: 395px !important;
}
.teaser .hdr-right img{
    height: 192px !important;
}
.teaser .hdr-right{
    position: relative;
    padding-left: 5px;
}
.teaser_container p {
    margin-bottom: 2px;
}
.teaser .teaser_big .sub p{
    font-size: 14px;
}
.teaser .teaser_big .sub h2{
    font-size: 28px;
    margin: 4px 0 4px 0;
}
.teaser .hdr-right .sub p, .subframe p{
    font-size: 11px;
}
.teaser .hdr-right .sub h2, .subframe h2{
    font-size: 14px;
    margin: 0;
}
.teaser .hdr-right .hdr-right-bot {
    margin-top: 10px;
}
.teaser .sub {
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.95) 35%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,rgba(0, 0, 0, 0.95)), color-stop(100%,rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.95) 35%,rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0, 0, 0, 0.95) 35%,rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0.95) 35%,rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba(0, 0, 0, 0.95) 35%,rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.95)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 ); /* IE6-9 */
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.teaser .sub:hover {
    background: #1f1f1f; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(24, 24, 24, 0.94) 40%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgba(0, 0, 0, 0.95)), color-stop(100%,rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(24, 24, 24, 0.95) 40%,rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(24, 24, 24, 0.95) 40%,rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(24, 24, 24, 0.95) 40%,rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba(24, 24, 24, 0.95) 40%,rgba(0, 0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.95)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 ); /* IE6-9 */
}
.news_container {
    padding-top: 30px;
    padding-bottom: 20px;
}
.news_container .subframe {
    padding-top: 10px;
    padding-bottom: 10px;
}
.subframe {
    border-right: 2px dotted rgba(135, 135, 135, 0.2);
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.95) 15%, rgba(0, 0, 0, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0, 0, 0, 0.95)), color-stop(100%,rgba(0, 0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0, 0, 0, 0.95) 15%,rgba(0, 0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0, 0, 0, 0.95) 15%,rgba(0, 0, 0, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0, 0, 0, 0.95) 15%,rgba(0, 0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba(0, 0, 0, 0.95) 15%, rgba(134, 134, 134, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.95)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 ); /* IE6-9 */
}
.subframe:hover {
    border-right: 2px dotted rgba(135, 135, 135, 0.2);
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(20, 20, 20, 0.93) 15%, rgba(134, 134, 134, 0.12) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(42, 42, 42, 0.94)), color-stop(100%,rgba(134, 134, 134, 0.12))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(20, 20, 20, 0.93) 15%,rgba(134, 134, 134, 0.12) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(20, 20, 20, 0.93) 15%,rgba(134, 134, 134, 0.12) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(20, 20, 20, 0.93) 15%,rgba(134, 134, 134, 0.12) 100%); /* IE10+ */
    background: linear-gradient(to top, rgba(20, 20, 20, 0.93) 15%, rgba(134, 134, 134, 0.12) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0.95)', endColorstr='rgba(0, 0, 0, 0)',GradientType=0 ); /* IE6-9 */
}
.subframe:nth-child(3n) {
    border-right: none;
}
.subframe:nth-child(n+4) {
    border-top: 2px dotted rgba(135, 135, 135, 0.3)
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}

div.login {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}
div.login ul{
    padding-left: 0;
}
div.login li {
    float: left;
    list-style: none;
}
div.login li a{
    padding-left: 10px;
    padding-right: 10px;
}
div.login li:last-child a {
    padding-right: 0px;
}
.btn {
	margin: 5px;
}
.btn-primary, .tx-mmforum-button {
    background-image: linear-gradient(to bottom, #226a2c 0px, #194b23 100%);
    background-repeat: repeat-x;
    border-color: #194b23;
    margin-top: 10px;
    color: white;
}
.btn-primary:hover, .tx-mmforum-button:hover,.btn-primary:focus,.btn-primary:active {
    background: linear-gradient(to bottom, #24792e 0px, #1b5d25 100%);
    border-color: #194b23;
    color: white;
}
.tx-femanager {
    padding-top: 10px;
    padding-bottom: 15px;
}

/* mm_forum */

/***
 * GENERAL DISPLAY OPTION
 ***/

tx-mmforum-pi1 td, tx-mmforum-pi1 th {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

table.tx-mmforum-table {
    -border: 1px solid #dddddd;
    border: 0px none;
    border-collapse: collapse;
	margin-top: 10px;
}

td.tx-mmforum-td {
    -border: 1px solid #dddddd;
    border-style: hidden !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
    padding:5px;
    font-size:14px;
    color: #eeeeee;
}
tr.tx-mmforum-pi1-listpost-odd, tr.tx-mmforum-pi1-listpost-odd +tr{
	background: rgba(0,0,0,0.5);
}
tr.tx-mmforum-pi1-listpost-even, tr.tx-mmforum-pi1-listpost-even +tr{
	background: rgba(46, 46, 46, 0.50);
}
td.tx-mmforum-td2 {
    padding:5px;
    font-size:12px;
    color: #EEEEEE;
}
#tx_mmforum_pi1-havealook {
	margin: 10px;
}

td.tx-mmforum-subth {
    border: none;
}

th.tx-mmforum-th {
	padding: 8px 7px 6px 15px;
	overflow: hidden;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-ms-border-radius: 5px 5px 0 0;
	-o-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	border: none;
	margin: -1px -1px 0 -1px;
	background-color: #205b2b;
	background-image: -webkit-linear-gradient(top, #226a2c, #194b23);
	background-image: -moz-linear-gradient(top, #226a2c, #194b23);
	background-image: -o-linear-gradient(top, #226a2c, #194b23);
	background-image: linear-gradient(to bottom, #226a2c, #194b23);
}

div.tx-mmforum-th {
    background: #0D7813;
    color: #FFFFFF;
    padding: 5px;
    text-align: left;
    font-size: 13px;
    border: 1px solid #dddddd;
    font-weight: bold;
}

.tx-mmforum-tdtext {
    font-size: 12px;
    border-style:hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    padding: 4px;
}

.tx-mmforum-tdtext-noborder {
    font-size: 12px;
    padding: 4px;
}


div.tx-mmforum-rootline {
    color: #eeeeee;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    border: 1px solid #dddddd;
    margin: 4px 0px;
    padding: 2px;
}

div.tx-mmforum-rootline a {
    color: #eeeeee;
    text-decoration: none;
}

div.tx-mmforum-pagenav {
    text-align:right;
    font-size:11px;
    margin: 8px 0px;
}

td.tx-mmforum-text {
    padding: 15px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

td.tx-mmforum-smalltext {
    padding: 3px;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

td.tx-mmforum-subth2 {
    color:#0D7813;
    font-size:12px;
    text-align: center;
    padding: 5px;
    background-color: #eeeeee;
}

.tx-mmforum-desc {
    font-size: 12px;
    color: #EEEEEE;
    margin-left: 30px;
    line-height: 12px;
}

th.tx-mmforum-th .tx-mmforum-desc {
    color: #ffffff;
    margin-left: 0;
}

.tx-mmforum-smalldesc {
    font-size: 11px;
    color: #EEEEEE;
}

.tx-mmforum-pi1-markread {

}

div.tx-mmforum-error {
    border: 3px solid #FF0000;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 4px 0px;
}

div.tx-mmforum-success {
    border: 3px solid #008000;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    margin: 4px 0px;
}

a.tx-mmforum-buttonsmall {
    margin: 5px 0px 5px 5px;
    background-color:#FFFFFF;
    border:1px solid #226a2c;
    color: #257530 !important;
    font-weight: bold;
    vertical-align: middle;
    font-size: smaller;
    padding: 2px;
}

/***
 * POST LISTING
 ***/

div.tx-mmforum-pi1-listpost-date {
    float: left;
    padding: 5px;
    font-size:11px;
    color: #EEEEEE;
}

div.tx-mmforum-pi1-listpost-options {
    text-align: right;
}

td.tx-mmforum-pi1-listpost-user {
    width:120px;
    padding: 5px;
}

td.tx-mmforum-pi1-listpost-text {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 15px;
    min-height:50px;
    width: auto;
}

div.tx-mmforum-pi1-codeboxnote {
    text-align: left;
    border: 1px solid #D5D5D5;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #143e1a;
    line-height: 125%;
    background-color: #FAFAFA;
    padding:10px;
}

/***
 * POST TEXTS
 ***/
.tx-mmforum-pi1-pt-quote {
    text-align: left;
    border: 1px solid #D5D5D5;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #EEEEEE;
    line-height: 125%;
    background-color: #FAFAFA;
    padding:10px;
}

.tx-mmforum-pi1-pt-code {
    border: 1px solid #D5D5D5;
    font-family: Courier,'Courier New',sans-serif;
    font-size: 12px;
    color: #EEEEEE;
    background-color: #FAFAFA;
    margin-left:40px;
    padding: 5px;
}

.tx-mmforum-pi1-highlight {
    background-color: #FFFF00;
}

/***
 * TOPIC LISTING
 ***/

.tx-mmforum-pi1-listtopic-newtopic {
    margin-bottom: 8px;
}

.tx-mmforum-pi1-listtopic-topic {
    font-size: 11px;
    text-align: left !important;
    border-style: hidden;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listtopic-replies {
    width: 60px;
    text-align: center;
    font-size: 11px;
    border-style: hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listtopic-rating {
    width: 60px;
    text-align: center !important;
    font-size: 11px;
    border-style: hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listtopic-author {
    width: 120px;
    text-align: center;
    font-size: 11px;
    border-style: hidden;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listtopic-lastpost {
    width: 150px;
    text-align: center;
    font-size: 11px;
    border-style: hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listtopic-image {
    float: left;
    margin-right: 8px;
    margin-left: 4px;
}

.tx-mmforum-pi1-listtopic-topicname {
    font-weight: bold;
}

.tx-mmforum-pi1-listtopic-prefix {
    color: blue;
}

.tx-mmforum-pi1-listtopic-pages {
    padding-left:30px;
    color: #bbbbbb;
    font-size:11px;
}

.tx-mmforum-pi1-listtopic-pages a{
    color: #bbbbbb !important;
    text-decoration: none;
}

.tx-mmforum-pi1-listtopic-location {
    padding-left:30px;
    color: #bbbbbb;
    font-size:11px;
    font-weight:normal;
}

/***
 * BOARD LISTING
 ***/

.tx-mmforum-pi1-listforum-forum {
    text-align: left !important;
    font-size: 12px;
}

.tx-mmforum-pi1-listforum-topics {
    width: 60px;
    text-align: center;
    font-size: 12px;
}

.tx-mmforum-pi1-listforum-posts {
    width: 60px;
    text-align: center;
    font-size: 12px;
}

.tx-mmforum-pi1-listforum-lastpost {
    width: 150px;
    text-align: center;
    font-size: 11px !important;
}

/***
 * TOPIC CREATION
 ***/

td.tx-mmforum-pi1-newpost-left {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
    width: 150px;
    text-align: left;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px;
}

td.tx-mmforum-pi1-newpost-middle {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: center;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px;
}

td.tx-mmforum-pi1-newpost-right {
    border: 1px solid #dddddd;
    border-collapse: collapse;
    text-align: right;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px;
}

/***
 * POST ALERTION
 ***/

.tx-mmforum-pi1-tooltip {
    position: absolute;
    display: none;
    background-color:#FFFFFF;
    border:1px solid #dddddd;
}

.tx-mmforum-pi1-tooltip-header {
    background: #0D7813;
    color: #FFFFFF;
    padding: 5px;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
}

.tx-mmforum-pi1-tooltip-text {
    padding: 5px;
}

.tx-mmforum-pi1-postalert-error {
    color: #ff0000;
    font-weight: bold;
    text-align: left;
    padding-top: 8px;
}

/***
 * USER DETAILS
 ***/

.tx-mmforum-pi1-userdetail-fieldname {
    text-align: right;
    padding: 3px;
    font-size: 12px;
}

.tx-mmforum-pi1-userdetail-fieldvalue {
    text-align: left;
    padding: 3px;
    font-size: 12px;
}

.tx-mmforum-pi1-moderator {
    color: #0D7813;
    font-weight: bold;
}

.tx-mmforum-pi1-administrator {
    color: #0D7813;
    font-weight: bold;
}

/***
 * PRIVATE MESSENGING
 ***/

.tx-mmforum-pi3-pminbox-item {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.tx-mmforum-pi3-pminbox-unread {
    font-weight: bold;
}

.tx-mmforum-pi3-message-text {
    padding: 5px;
    margin: 5px;
}

.tx-mmforum-pi3-newposts {
    float: right;
}

#tx_mmforum_pi3_quicksearch {
    position: absolute;
    background: #ffffff;
    border: 1px solid #dddddd;
    width: 143px;
}

#tx_mmforum_pi3_quicksearch ul , #tx_mmforum_pi3_quicksearch li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tx-mmforum-pi3-quicksearch_item {
    display: block;
    border: 0;
    font: normal 10px Tahoma,Arial,Helvetica,sans-serif;
    padding: 3px 10px !important;
    color:#000000 !important;
    text-decoration: none;
}

.tx-mmforum-pi3-quicksearch_itemHover {
    display: block;
    border: 0;
    font: normal 10px Tahoma,Arial,Helvetica,sans-serif;
    padding: 3px 10px !important;
    color:#ffffff !important;
    background: #0D7813;
    cursor: pointer;
    text-decoration: none;
}

/***
 * FORM FIELDS
 ***/

textarea.tx-mmforum-post {
	margin-top: 10px;
}

.tx-mmforum-input {
    border: 1px solid #AAAAAA !important;
    font-family: Tahoma,Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    padding: 2px;
    vertical-align: middle;
}

select.tx-mmforum-select {
    border: 1px solid #AAAAAA;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
	color: #2b2b2b;
}

select.tx-mmforum-select option, option.tx-mmforum-option2 {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    border-top: 1px solid #DCDDDE;
    color: #2b2b2b;
}

select.tx-mmforum-select optgroup, option.tx-mmforum-option1 {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    color: #2b2b2b;
}
.markItUpContainer .markItUpHeader ul {
	background: #ffffff;
}
.markItUpContainer .markItUpHeader ul:before,.markItUpContainer .markItUpHeader ul:after  {
	content: " ";
	display: table;
	clear: both;
}

/***
 * User Registration
 ***/

.tx-mmforum-pi2-fliesstext_rot2 {
    font-family:  Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #0D7813;
    padding-left: 10px;
    padding-top:5px;
}

.tx-mmforum-pi2-container {
    border:1px solid #A5ACB2;
}

DIV.tx-mmforum-pi2-container p label {
    float:left;
    width:130px;
    padding-left: 10px;
}
span.error, div.error {
    color:red;
    font-weight:bold;
}

/***
 * PORTAL INFO
 ***/
.tx-mmforum-pi6-container {
    border:1px solid #e5e5e5;
    padding:0px;
    margin:0px 25px 10px 25px;
    color:#aaaaaa;
    font-size:11px;
    text-align:left;
	margin-top: 20px;
}

.tx-mmforum-pi6-container h3 {
    font-size:12px;
    color:#9b9a9a;
    margin:0px;
    padding:0px;
}

.tx-mmforum-pi6-container a {
    color:#aaaaaa;
}

.tx-mmforum-pi6-us {
    padding:3px 0px 3px 5px;
    background-color:#faf9f9;
    border-bottom:1px solid #e5e5e5;
}
.tx-mmforum-pi6-us h3 {
	color: #555555;
}
.tx-mmforum-pi6-content {
    padding:5px 10px 10px 10px;
}

.tx-mmforum-pi6-strong {
    color:#9b9a9a;
    font-weight:bold;
}

a.tx-mmforum-pi6-admin {
    color:#0D7813 !important;
    font-weight: bold;
}
a.tx-mmforum-pi6-mod {
    font-weight:bold;
    color:#f19d55 !important;
}

.tx-mmforum-pi6-container a { /*color: #bf2236;*/ }

/**
* CSS for search
**/

.tx-mmforum-pi4-search_options {
    padding:10px 0px 10px 0px;
}

.tx-mmforum-pi4-search_options_header {
    font-size:13px;
    font-weight:bold;
    color:#FFFFFF;
    background:#0D7813;
    padding:2px 0px 2px 5px;

}
.tx-mmforum-pi4-search_options_details {
    border:1px solid #DDDDDD;
    padding:0px;
}

.tx-mmforum-pi4-suche-abstand {
    margin-top:2px;
    margin-right:7px;
    margin-left:0px;
    padding-top:10px;
    padding-left:10px;
    float:left;
}

.tx-mmforum-pi4-suche-details-abstand {
    margin-top:10px;
}

.tx-mmforum-pi4-suche-details-sort select {
    width:200px;
}

.tx-mmforum-pi4-suche-details-abstand-check {
    width:100px;
    margin-top:5px;
    border:1px solid red;
    float:left;
}

.tx-mmforum-pi4-geloest {
    padding-top:1px;
    padding-right:5px;
    float:left;
}

.tx-mmforum-pi4-suche-abstand input {
    width:200px;
}

.tx-mmforum-pi4-suche-box {
    padding:10px;
    background-color:#f6f5f5;
    border-bottom:1px solid #dddddd;
    border-top:1px solid #dddddd;
}

.tx-mmforum-pi4-suche-starten-abstand {
    padding-top:10px;
}
.tx-mmforum-pi4-abstand-bottom {
    height:10px;
    width:100px;
}

/* INFO BOX */

.tx-mmforum-pi4-info-box {
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    width: 600px;
    border: 1px solid #DDDDDD;
    background: #FFFFFF;
    margin-left: 20px;
}

.tx-mmforum-pi4-infoBoxHeader {
    color:#FFFFFF;
    width: 600px;
    height: 20px;
    background: #0D7813;
    font-weight: bold;
}
.tx-mmforum-pi4-infoBoxHeader a{ color:#FFFFFF; }
.tx-mmforum-pi4-infoBoxHeader a:hover{ color:#FFFFFF; }

.tx-mmforum-pi4-infoBoxContent {

}

.tx-mmforum-pi4-kurzanleitung {
    padding:5px 0px 5px 10px;
    font-size:12px;
}

#dasx a {
    color:#FFFFFF;
}
#dasx a:hover {
    color:#FFFFFF;
}

.tx-mmforum-pi4-regeln li {
    border-bottom:1px solid #e4e5e5;
    border-top:1px solid #e4e5e5;
    margin-bottom:20px;
    padding:5px 10px 10px 10px;
    background-color:#fafbfb;
}


.tx-mmforum-pi4-search_infobox {
    margin-left:5px;
    margin-right:10px;
    width:150px;
    font-size:11px;
    color:#616161;
    border: 1px solid#DDDDDD;
    background-color:#eeeded;
}
.tx-mmforum-pi4-search_info {
    line-height:12px;
    font-size:11px;
    color:#aaaaaa;
    background:#FFFFFF;
    border-top:1px solid #DDDDDD;
    padding:2px 0px 2px 5px;
}

.tx-mmforum-pi4-infobox-titel {
    padding-left:5px;
}

.tx-mmforum-pi4-search-box-aussen {
    border:1px solid #eceded;
    width:100%;
    float:left;
    background-repeat:no-repeat;
}

.tx-mmforum-pi4-search-box-rechts {
    width:170px;
    height:100px;
    margin-top:10px;
    float:right;
}

.tx-mmforum-pi4-search-box-links {
    width:70%;
    padding:5px;
    float:left;
}

.tx-mmforum-pi4-search-box-links a {
    font-size:12px;
    font-weight:bold;
}

.tx-mmforum-pi4-search-box-unten {
    width:100%;
    text-align:right;
    float:left;
}

.tx-mmforum-pi4-search_title {
    margin-top:10px;
    padding-top:2px;
    padding-bottom:2px;
    background-color:#dddddd;
    font-size:13px;
    font-weight:bold;
    width:100%;
    float:left;
    border-top:1px solid #eceded;
    border-left:1px solid #eceded;
    border-right:1px solid #eceded;
}

.tx-mmforum-pi4-search-link {
    text-align:left;
    float:left;
    padding-left:8px;
    padding-bottom:2px;
    color:#0D7813;
}

.tx-mmforum-pi4-search-link a {
    font-size:12px;
    font-weight:bold;
}

/***
 * USER CONFIGURATION
 ***/
.tx-mmforum-pi5-configleft {
    text-align: right;
}

/***
 * USER CONTROL CENTER
 ***/
.tx-mmforum-pi1-user {
    width: 100%;
}
.tx-mmforum-pi1-user-menu {
    text-align: right;
    border: 1px solid #dddddd;
    border-bottom: 0px;
    border-top: 0px;
    display:block;
    margin:0;
    padding:4px;
}

.tx-mmforum-pi1-user-content {
    border: 1px solid #dddddd;
    padding: 8px;
}

/***
 * CODE HIGHLIGHTING
 ***/
.tx-mmforum-pi1-codeheader{
    border-top: 1px solid #BCBEC0;
    border-left: 1px solid #BCBEC0;
    border-right: 1px solid #BCBEC0;
    background: #DDDDDD;
    font-weight: bold;
    padding: 5px;
}
.tx-mmforum-pi1-codeblock {
    border:1px solid #BCBEC0;
    background-color:#F6F6F6;
    overflow:auto;
    padding-left:7px;
    line-height:15px;
    padding-top:4px;
    padding-bottom:4px;
}

.tx-mmforum-pi1-codeblock a {
    text-decoration:  none;
}
.tx-mmforum-pi1-codeblock a:hover {
    text-decoration:  none;
    background-color:  #FFFF00;
}
.tx-mmforum-pi1-codeblock a:visited {
    text-decoration:  none;
}

.tx-mmforum-pi1-linenumbering{
    float: left;
    background: #DDDDDD;
    color: #000000;
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #BCBEC0;
    border-bottom: 1px solid #BCBEC0;
    padding: 4px;
    line-height: 15px;
    text-align: right;
}


.listforum {
    border-collapse: collapse;
}


.listforum tr,.listforum td {
    font-family:  Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    border: 1px solid #DDDDDD;
}

div#tx-mmforum-footer {
    font-size: 11px;
    color: #999999;
    text-align: center;
}

.tx-mmforum-pi1-attachmentlabel {
    font-weight: bold;
}

.tx-mmforum-pi1-attachment {
	color: #f8f8f8;
    padding-left: 16px;
}

.tx-mmforum-poll-question {
    font-weight: bold;
}
.tx-mmforum-poll-expireson {
    font-size: 11px;
    color: #aaaaaa;
    margin-top: 8px;
}

.tx-mmforum-pi4-title {
    color: #666666;
}
.tx-mmforum-pi4-title a {
    color: #666666;
    font-weight: bold;
}
.tx-mmforum-pi4-title a:hover {
    color: #0D7813;
}
.tx-mmforum-pi4-content a {
    color: #666666;
}
.tx-mmforum-pi4-content a:hover {
    color: #0D7813;
}
th.tx-mmforum-th a {
    color: #FFFFFF !important;
}

.tx-mmforum-pi1-listposts-prefix { color: #000000 !important;}

.tx-mmforum-poll-icon {
    float: left;
    margin-right: 8px;
}

.tx-mmforum-pi3-pminbox-icon {
    float: left;
    margin-right: 8px;
}


.tx-mmforum-textbutton a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 11pt;
}
.tx-mmforum-textbutton a:hover {
	color: #f2f2f2;
}
.tx-mmforum-textbutton img {
    vertical-align: middle;
    margin-right: 8px;
}

.tx-mmforum-pi1-listpost-topicicon {
    float: left;
    margin-right: 16px;
}

.tx-mmforum-pi3-buttons { margin: 8px 0px;}

.tx-mmforum-pi1-listpost-options .tx-mmforum-textbutton {
    float:right;
}

.tx-mmforum-pi2-textbutton img {
    vertical-align: middle;
    margin-right: 8px;
}

td.tx-mmforum-optth {
    color:#0D7813;
    font-size:12px;
    padding: 2px 4px;
    background-color: #eeeeee;
    border-style: hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
}

td.tx-mmforum-optth-disabled {
    color:#666666;
    font-size:12px;
    padding: 2px;
    background-color: #eeeeee;
    border-style: hidden !important;
    border-top: 1px solid #dddddd !important;
    border-bottom: 1px solid #dddddd !important;
    border-collapse: collapse;
}

.tx-mmforum-pi1-listpost-rating { float: left; }

.tx-mmforum-pagenav .tx-pagebrowse { text-align: right !important;}
