/**
 * TSStatus: Teamspeak 3 viewer for php5
 * @author Sebastien Gerard <seb@sebastien.me>
 * @see http://tsstatus.sebastien.me/
 * @version 2013-08-31
 **/

.tsstatus, .tsstatuserror{
	background-color: transparent;
	width: 100%;
}

.tsstatus, .tsstatus *, .tsstatuserror{
	color: #ffffff;
	font-family: Verdana;
	font-size: 14px;
}

.tsstatus label{
    padding-bottom: 10px;
	border-bottom: 1px solid #aaaaaa;
}
.tsstatus label input{
    color: black;
}
.tsstatusItem a:hover{
	background: none;
}

.tsstatuserror{
	color: #ff0000;
}

.tsstatus, .tsstatus *{
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.tsstatus{
	position: relative;
	overflow: hidden;
}

.tsstatusItem{
	margin-left: 16px;
	position: relative;
	white-space:nowrap;
}

.tsstatusItem a{
	display: block;
	text-decoration: none;
}

.tsstatusItem img{
	border: 0;
	vertical-align: middle;
	margin-right: 2px;
}

.tsstatusFlags{
	position: absolute;
	right: 0;
	top: 0;
}

.tsstatusServer{
	margin-left: 0;
}
.tsstatusItem.tsstatusServer {
    margin-top: 10px;
}