{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Content" />
    <f:section name="Configuration">
        <flux:flexform wizardTab="Content" label="AjaxLoad" id="ajax" icon="{v:extension.path.resources(path: 'Images/fluidcontent/gallery.png')}">
            <flux:flexform.field.input name="loadPage" />
            <flux:flexform.field.input name="loadcontainer" />
            <flux:flexform.field.checkbox name="refreshtimer" />
            <flux:flexform.field.input name="refreshtime" />
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
    </f:section>

    <f:section name="Main">
        <f:if condition="refreshtimer">
            <f:then>
                <script>
                    <![CDATA[$(document).ready(function(){
                        var container = '#ajax-load-area]]>{record.uid}<![CDATA['
                        ajaxGetContent();
                        function ajaxGetContent(value,callback) {
                            $(container).load(']]>{loadPage} {loadcontainer}<![CDATA[');
                        }
                        var auto_refresh = setInterval(
                                function() {
                                    $(container).load(']]>{loadPage} {loadcontainer}<![CDATA[');
                                }, ']]>{refreshtime}<![CDATA['+'000');
                        console.log(container);
                        });]]></script>
            </f:then>
            <f:else>
                <script>
                    <![CDATA[$(document).ready(function(){
                        ajaxGetContent();
                        function ajaxGetContent(value,callback) {
                            $(container).load(']]>{loadPage} {loadcontainer}<![CDATA[');
                        }
                    });]]></script>
            </f:else>
        </f:if>

    <div id="ajax-load-area{record.uid}">
    </div>
</f:section>

</div>