{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
    <f:layout name="Content" />
    <f:section name="Configuration">
        <flux:flexform wizardTab="Bilder" label="Galerie" id="gallery" icon="{v:extension.path.resources(path: 'images/fluidcontent/section5_galerie.png')}">
            <flux:flexform.section name="jssors">
                <flux:flexform.object name="jssor">
                    <flux:flexform.field.file name="image" internalType="file" allowed="jpg,png,jpeg" maxItems="1" showThumbs="1" />
                    <flux:flexform.field.input name="imageTitle" />
                    <flux:flexform.field.input name="imageAlt" />
                </flux:flexform.object>
            </flux:flexform.section>
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
        <strong><f:translate key="LLL:EXT:section5ft/Resources/Private/Language/locallang.xml:flux.gallery.objects.jssor.image" />:</strong><br/>
            <f:for each="{jssors}" as="jssor" iteration="it">
                <f:if condition="{jssor.jssor.image}"> <img src="/{jssor.jssor.image}" width="120" alt="{jssor.jssor.imageAlt}" title="{jssor.jssor.imageTitle}" /></f:if>
                <f:if condition="{it.cycle}%8==0"><br /></f:if>
            </f:for>
    </f:section>

    <f:section name="Main">
    <div class="section5FCE">
       <f:debug><v:var.get name="jssors.1" /></f:debug>
        <div id="slider1_container" style="position: relative; top: 0px; left: 0px; width: 940px;
        height: 480px; background: #191919; overflow: hidden;">

            <!-- Loading Screen -->
            <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000000; top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
                <div style="position: absolute; display: block; background: url(/typo3conf/ext/section5ft/Resources/Public/images/loading.gif) no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
                </div>
            </div>

            <!-- Slides Container -->
            <div u="slides" style="position: absolute; left: 240px; top: 0px; width: 710px; height: 480px; overflow: hidden;">
                <f:for each="{jssors}" as="jssor" iteration="it">
                    <div>
                        <img src="{jssor.jssor.image}" u="image" width="720"  height="480" alt="{jssor.jssor.imageAlt}" title="{jssor.jssor.imageTitle}" />
                        <img src="{jssor.jssor.image}" u="thumb" width="99"  height="66" alt="{jssor.jssor.imageAlt}" title="{jssor.jssor.imageTitle}" />
                    </div>
                </f:for>
            </div>

            <!-- Arrow Left -->
        <span u="arrowleft" class="jssord05l" style="cursor: pointer; width: 40px; height: 40px; top: 158px; left: 248px;">
        </span>
            <!-- Arrow Right -->
        <span u="arrowright" class="jssord05r" style="cursor: pointer; width: 40px; height: 40px; top: 158px; right: 8px">
        </span>
            <!-- Direction Navigator Skin End -->

            <!-- Thumbnail Navigator Skin 02 Begin -->
            <div u="thumbnavigator" class="jssort02" style="position: absolute; width: 230px; height: 480px; left:0px; bottom: 0px;">

                <div u="slides">
                    <div u="prototype" class="p" style="cursor: pointer; position: absolute; width: 101px; height: 68px; top: 0; left: 0;">
                        <div class=w><thumbnailtemplate style="width: 100%; height: 100%; border: none;position:absolute; top: 0; left: 0;"></thumbnailtemplate></div>
                        <div class=c>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

</div>