{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://fedext.net/ns/fluid/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:flexform wizardTab="Rahmen" label="Rahmen ganze Breite" id="content" icon="{v:extension.path.resources(path: 'images/fluidcontent/rahmenganzebreite.png')}">
            <flux:flexform.grid>
                <flux:flexform.grid.row>
                    <flux:flexform.grid.column>
                        <flux:flexform.content name="content00" label="Content (ganze Breite)" />
                    </flux:flexform.grid.column>
                </flux:flexform.grid.row>
            </flux:flexform.grid>
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
        <flux:widget.grid />
    </f:section>

    <f:section name="Main">
        <div class='container'>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 bg_overlay">
                    <flux:flexform.renderContent area="content00" />
                </div>
            </div>
        </div>
    </f:section>
</div>