{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://fedext.net/ns/fluid/ViewHelpers">

    <f:section name="Configuration">
        <flux:flexform wizardTab="Rahmen" label="Contentrahmen mit drei spalten" id="contentdreispaltig" icon="{v:extension.path.resources(path: 'images/fluidcontent/contentrahmendreispaltig.png')}">
            <flux:flexform.grid>
                <flux:flexform.grid.row>
                    <flux:flexform.grid.column>
                        <flux:flexform.content name="content10" label="Content links" />
                    </flux:flexform.grid.column>
                    <flux:flexform.grid.column>
                        <flux:flexform.content name="content20" label="Content mitte" />
                    </flux:flexform.grid.column>
                    <flux:flexform.grid.column>
                        <flux:flexform.content name="content30" label="Content rechts" />
                    </flux:flexform.grid.column>
                </flux:flexform.grid.row>
            </flux:flexform.grid>
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
        <flux:widget.grid />
    </f:section>

    <f:section name="Main">
        <div class='container'>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 bg_overlay">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <flux:flexform.renderContent area="content10" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <flux:flexform.renderContent area="content20" />
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <flux:flexform.renderContent area="content30" />
                    </div>
                </div>
            </div>
        </div>
    </f:section>
</div>