{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace nelo=Tx_Eloofficeft_ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:flexform wizardTab="Bilder" label="Slider" id="slider" icon="{v:extension.path.resources(path: 'images/fluidcontent/slider.png')}">
            <flux:flexform.section name="panels">
                <flux:flexform.object name="panel">
                    <flux:flexform.field.input name="headlineTitle" />
                    <flux:flexform.field.file name="image" internalType="file" allowed="jpg,png" maxItems="1" showThumbs="1"  />
                    <flux:flexform.field.input name="imageTitle" />
                    <flux:flexform.field.input name="imageAlt" />
                    <flux:flexform.field.text name="rte" enableRichText="1" />
                </flux:flexform.object>
            </flux:flexform.section>
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
        <f:for each="{panels}" as="panel">
            <f:if condition="{panel.panel.image}"><img src="/{panel.panel.image}" alt="{panel.panel.imageAlt}" title="{panel.panel.imageTitle}" width="120" height="auto" /><br /></f:if>
            <strong><f:translate key="LLL:EXT:section5ft/Resources/Private/Language/locallang.xml:flux.slider.objects.panel.headlineTitle" />:</strong><f:format.html> {panel.panel.headlineTitle}</f:format.html><br/>
            <strong><f:translate key="LLL:EXT:section5ft/Resources/Private/Language/locallang.xml:flux.slider.objects.panel.rte" />:</strong><f:format.html> {panel.panel.rte}</f:format.html><br/>
        </f:for>
    </f:section>

    <f:section name="Main">
        <div class="pSlider section5FCE">
                <ul class='slider'>
                    <f:for each="{panels}" as="panel" iteration="iteration">
                        <li>
                            <f:if condition="{panel.panel.image}">
                                <f:image src="{panel.panel.image}" width="950" height="267" alt="{panel.panel.imageAlt}" title="{panel.panel.imageTitle}" />
                            </f:if>
                            <div class='slide-box'>
                                <div class='slide-text'>
                                    <f:if condition='{panel.panel.headlineTitle}'>
                                        <h2>{panel.panel.headlineTitle}</h2>
                                    </f:if>
                                    <f:format.html>{panel.panel.rte}</f:format.html>
                                </div>
                            </div>
                        </li>
                    </f:for>
                </ul>
        </div>
    </f:section>
</div>