{namespace flux=Tx_Flux_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace m=Tx_section5ft_ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Content" />
    <f:section name="Configuration">
        <flux:flexform wizardTab="Content" label="TS3Viewer" id="ts3viewer" icon="{v:extension.path.resources(path: 'images/fluidcontent/tsviewer.png')}">
                <flux:flexform.field.input name="serverip" />
                <flux:flexform.field.input name="serverport" />
        </flux:flexform>
    </f:section>

    <f:section name="Preview">
        <strong><f:translate key="LLL:EXT:section5ft/Resources/Private/Language/locallang.xml:flux.ts3viewer.fields.serverip" />:</strong>{serverip}<br/>
        <strong><f:translate key="LLL:EXT:section5ft/Resources/Private/Language/locallang.xml:flux.ts3viewer.fields.serverport" />:</strong>{serverport}<br/>
    </f:section>

    <f:section name="Main">
    <div class="ts3viewer">
        <m:tsviewer serverip='{serverip}' serverport='{serverport}' />
    </div>
</f:section>

</div>